/* Effective stylesheet produced by snapshot save */
a:hover { text-decoration: none; }
a { text-decoration: none; }
ul { list-style: outside none none;margin:0;padding:0;}
li{list-style: none;}
img{border:none;}
body{width:100%;height:100%;font-family: "微软雅黑";}
.intro { width: 100%; background-image: url("../img/counter-bg.jpg"); background-size: cover; min-height: 100%; position:relative;}
.introduction { width: 100%; min-height: 100%; background-size: cover; background-repeat: no-repeat; background-position: 50% 50%; background-image: url("../img/counter-bg.jpg"); display: block; position: absolute; margin: 0px; padding: 0px; }
.nav-header { display: none; box-shadow: 0px 0px 20px rgb(85, 85, 85); transition: all 0.5s linear 0s; }
.myvideo video { overflow: hidden; object-fit: fill; }
.myvideo .col-md-12 { padding: 0px; }
.myvideo { position: absolute; width: 100%; overflow: hidden; margin: 0px; }
.introduction .me { position: absolute; top: 30%; background-color: rgba(0, 0, 0, 0.7); color: rgb(248, 248, 248); width: 100%; margin: 0px; padding: 20px 0px; }
.me .row { margin: 0px; }
.lianxi a { padding: 10px 16px; border: 2px solid rgb(240, 173, 78); display: inline-block; float: left; margin-left: 10px; }
.lianxi .lianxia { border: 2px solid rgb(68, 157, 68); color: rgb(248, 248, 248); position: relative; transition: all 0.5s linear 0s; }
.lianxi .lianxia:hover { background: rgb(68, 157, 68) none repeat scroll 0% 0%; padding-right: 22px; }
.tedian { padding: 20px 0px; }
.touxiang img:hover{opacity:0.5;border:10px solid #fff;}
.touxiang img { width:30%; position: absolute; display: block; border-radius: 50%; transform: translate(100%, 15%); transition: all 1s linear 0s; }
.jianjie h3 span { color:#fff;  margin-left: 10px; padding: 0px 8px 8px;}
.tedian-title { font-size: 20px; color: green; }
.lianxi .lianxib { color: rgb(248, 248, 248); transition: all 0.5s linear 0s; }
.lianxi .lianxib:hover { background: rgb(240, 173, 78) none repeat scroll 0% 0%; }
.lianxia span { position: absolute; transition: all 0.5s linear 0s; opacity: 0; right: -10px; top:6px; }
.lianxia:hover span { display: inline-block; right: 2px; opacity: 1; }
.lianxi .weiboa, .lianxi .weibob, .lianxi .weiboc { width: 40px; height: 40px; border-radius: 50%; background-image: url("../img/weibo.png"); background-repeat: no-repeat; transition: all 0.5s linear 0s; }
.lianxi .weiboa { background-position: 0px 0px; border: 2px solid rgb(48, 113, 169); }
.lianxi .weibob { background-position: -76px 0px; border: 2px solid rgb(49, 176, 213); }
.lianxi .weiboc { background-position: -114px 0px; border: 2px solid rgb(201, 48, 44); }
.lianxi .weiboa:hover { background-position: 0px -36px; }
.lianxi .weibob:hover { background-position: -76px -36px; }
.lianxi .weiboc:hover { background-position: -114px -36px; }
.caidan > .glyphicon { position: absolute; cursor: pointer; top:15%; z-index: 10; font-size: 30px; color: rgb(248, 248, 248); right: 5%; padding: 4px; border: 2px solid rgb(248, 248, 248); }
.clear { clear: both; width: 100%; overflow: hidden; }
.skill { margin-top: 50px; }
.skill-title { font-size: 36px; margin: 20px 0px 10px; color: rgb(0, 128, 128); }
.skill-titlea { padding-left: 0px; }
.skill-bor { background: rgb(218, 218, 218) none repeat scroll 0% 0%; height: 1px; padding-left: 0px; }
.skill-bora { display: inline-block; width: 150px; height: 3px; background-color: rgb(0, 128, 128); float: left; margin-top: -1px; }
.skill-list > ul > li { line-height: 35px;list-style-type:disc; }
.skill-list > ul { float: left; }
.skill-list { margin-top: 40px; }
.skill-erweima { display: inline-block; float: left; }
.skill-erweima > img { width: 80%; display: block; margin: 0px auto; }
.skill-erweima > p { text-align: center; }
.jobs { background-image: url("../img/16.png"); margin-top: 40px; margin-left: 0px; margin-right: 0px; width: 100%; }
.jobs .skill-title { color: rgb(248, 248, 248); }
.lunbo { padding: 40px 0px; }
.lunbo > .row > .lunbo-one { background-image: url("../img/3.png"); position: relative; overflow: hidden; }
.lun-nian { font-size: 12px; }
.lun-nian { margin-left: 10px; }
.lun-show { margin-top: 10px; padding-left: 0px; list-style-type: disc; line-height: 30px; font-size: 14px; color: rgb(189, 121, 26); }
.lunbo-text { padding-top: 30px; padding-bottom: 60px; float: left;margin-left:50px; }
.lun-image { margin-top: 25px; float: right; width: 50%; }
.lun-image > img { width: 100%; transition: all 0.8s linear 0s; }
.lun-image > img:hover { box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3); transform: translate(0px, -3px); }
.lunbo-left, .lunbo-right { border: 2px solid rgb(81, 81, 81); font-size: 30px; padding: 4px; border-radius: 50%; position: absolute; top: 45%; opacity: 0; transition: all 1s linear 0s; cursor: pointer; }
.lunbo-right { right: 6px; }
.lunbo-left { left: 6px; }
.lunbo-oneb > ul { width: 200%; padding-left: 0px; position: relative; }
.lunbo-oneb > ul > li { width: 50%; float: left; }
.project { background-image: url("../img/counter-bg.jpg"); margin-top: 0px; width: 100%; background-attachment: fixed; overflow: hidden; background-size: cover; }
.project-bg { background-color: rgba(10, 10, 10, 0.8); width: 100%; overflow: hidden; }
.project .skill-title { color: rgb(255, 255, 255); }
.project-title { font-size: 30px; color: rgb(240, 240, 240); border: 1px solid rgb(240, 240, 240); padding: 0px 8px 8px; text-align: center; }
.project-titlea { width: 100%; display: block; text-align: center; margin-top: 20px; }
.project-list { margin-top: 30px; margin-bottom: 40px; }
.project-list > div > div img { width: 100%; transition: all 1s linear 0s; }
.project-list > div { padding: 0px; }
.project-list > div > div { position: relative; overflow: hidden; text-align: center; transition: all 0.8s linear 0s; }
.project-list > div > div:hover div { opacity: 0.9; background-color: rgb(44, 63, 82); }
.project-list > div > div div { width: 100%; height: 100%; }
.project-list > div > div span { position: absolute; top: -40px; font-size: 25px; left: 32%; color: rgb(248, 248, 248); z-index: 100; transition: all 0.5s linear 0s; }
.project-list > div > div:hover span { top: 20%; }
.project-list > div > div a { position: absolute; font-size: 18px; z-index: 100; color: #fff; left: 45%; top: 110%; padding: 10px 14px; border: 2px solid rgb(230, 230, 230); border-radius: 50%; transition: all 0.5s linear 0s; opacity: 0; }
.project-list > div > div a:hover { background: rgb(230, 230, 230) none repeat scroll 0% 0%; }
.project-list > div > div:hover a { opacity: 1; top: 50%; }
.project-list > div > div:hover img { transform: scale(1.5, 1.5); }
.icong{color:#fff;}
.intro .intro-me{z-index: 5;position:absolute;left:8%;top:15%;color:#fff;font-size: 28px;}
.foot{width:100%;height:100px;background: #000;margin-top:2px;position: relative;text-align: center;}
.foot ul{width:80%;height:30px;margin-left:20%;line-height: 30px;text-align: center;float:left;margin-top:10px;}
.foot ul li{font-size:12px;color:#fff;float:left;margin-left:5%;}
textarea { display:block;  background:none;  height:200px;  width:800px;  padding:10px;  color:#fff;  font-size:30px;  border:none;  outline: none; position:absolute;left:30%;top:15%; z-index:10;opacity: 0.7;font-family: "Arial";font-style: italic;}

